numpy==1.23.5
pandas==2.0.3
Pillow==9.5.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
opencv-python==4.8.0.74
tqdm==4.65.0
torch==2.0.1+cu118
torch-tensorrt==1.4.0
torchaudio==2.0.2+cu118
torchmetrics==0.11.4
torchvision==0.15.2+cu118
torchviz==0.0.2
torcheval==0.0.6
pytorch-lightning==2.0.4
lightning-utilities==0.9.0
segmentation-models-pytorch==0.3.3
monai==1.2.0
tensorflow
ray==2.5.1
ray[tune]
optuna==3.2.0
