absl-py==1.4.0
aiohttp==3.8.4
aiohttp-socks==0.8.0
aiorpcX==0.22.1
aiosignal==1.3.1
alabaster==0.7.13
albumentations==1.3.1
alembic==1.9.4
aniso8601==9.0.1
anyio==3.7.0
apipkg==3.0.1
apparmor==3.1.3
appdirs==1.4.4
application-utility==1.3.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.4.0
arrow==1.2.3
asgiref==3.7.2
astroid==2.15.5
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.2
async-timeout==4.0.2
attrs==22.2.0
Authlib==1.2.1
autocommand==2.2.2
azure-common==1.1.28
azure-core==1.27.1
azure-identity==1.13.0
azure-mgmt-core==1.4.0
azure-mgmt-rdbms==10.1.0
azure-mgmt-resource==23.0.1
azure-mgmt-subscription==3.1.1
Babel==2.12.1
backcall==0.2.0
bcrypt==4.0.1
Beaker==1.12.0
beautifulsoup4==4.12.2
bidict==0.22.1
bitstring==3.1.9
bleach==6.0.0
blinker==1.5
boto3==1.26.165
botocore==1.29.165
Brotli==1.0.9
btrfsutil==6.3
build==0.10.0
CacheControl==0.12.11
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
cheroot==9.0.0
CherryPy==18.8.0
click==7.1.2
cmake==3.26.4
colabcode==0.3.0
colorama==0.4.6
comm==0.1.3
contextlib2==21.6.0
contourpy==1.0.7
coverage==6.5.0
cryptography==40.0.2
cssselect==1.2.0
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.34
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
distro==1.8.0
Django==4.2.2
dm-tree==0.1.8
dnspython==2.3.0
docopt==0.6.2
docutils==0.20.1
ecdsa==0.18.0
efficientnet-pytorch==0.7.1
elasticsearch==7.9.0
Electrum==4.3.2
email-validator==1.3.1
entrypoints==0.4
etils==1.3.0
eventlet==0.33.3
exceptiongroup==1.1.1
executing==1.2.0
extras==1.0.0
fastapi==0.99.1
fastjsonschema==2.16.3
filelock==3.12.0
fixtures==4.0.1
Flask==2.2.5
flask-babel==3.1.0
Flask-BabelEx==0.9.4
Flask-Compress==1.13
Flask-Gravatar==0.5.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-Paranoid==0.3.0
Flask-Principal==0.4.0
Flask-RESTful==0.3.9
Flask-Security-Too==5.1.2
Flask-SocketIO==5.3.4
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
flatbuffers==23.5.26
fonttools==4.39.4
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
gast==0.4.0
git-filter-repo==2.38.0
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.53.0
gssapi==1.8.2
h11==0.14.0
h5py==3.9.0
html2text==2020.1.16
html5lib==1.1
httpagentparser==1.9.5
httplib2==0.22.0
huggingface-hub==0.15.1
idna==2.10
igraph==0.10.5
imageio==2.31.1
imagesize==1.4.1
importlib-metadata==5.0.0
importlib-resources==5.12.0
inflect==6.0.4
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.23.3
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.collections==3.5.2
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
jax==0.4.13
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonpointer==2.4
jsonrpclib-pelix==0.4.3.2
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter-server==1.24.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server_terminals==0.4.4
jupyterlab==3.0.7
jupyterlab-pygments==0.2.2
jupyterlab-vim==0.16.0
jupyterlab-widgets==3.0.7
jupyterlab_server==2.23.0
keras==2.12.0
keras-cv==0.5.0
keras-nlp==0.5.2
keras-tuner==1.3.5
keyring==23.13.1
keyutils==0.6
kiwisolver==1.4.4
kt-legacy==1.0.5
lazy-object-proxy==1.9.0
lazy_loader==0.3
ldap3==2.9
lensfun==0.3.3
LibAppArmor==3.1.3
libclang==16.0.0
libtorrent==2.0.8
lightning-utilities==0.9.0
lit==15.0.7.dev0
logutils==0.3.5
louis==3.25.0
lxml==4.9.2
Mako==1.2.4
manjaro-sdk==0.1
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
meson==1.1.0
mistune==3.0.1
ml-dtypes==0.2.0
mock==3.0.5
monai==1.2.0
more-itertools==9.1.0
mpmath==1.2.1
msal==1.22.0
msal-extensions==1.0.0
msgpack==1.0.5
msrest==0.7.1
multidict==6.0.4
munch==4.0.0
nbclassic==0.3.7
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.4.3
netsnmp-python==1.0a1
networkx==3.0
nftables==0.1
nose==1.3.7
notebook==6.4.5
notebook_shim==0.2.3
npyscreen==4.10.5
nspektr==0.4.0
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
OpenTimelineIO==0.14.1
opt-einsum==3.3.0
ordered-set==4.1.0
overrides==7.3.1
packaging==23.1
pacman-mirrors==4.23.2
pandas==2.0.3
pandocfilters==1.5.0
paramiko==2.11.1
parso==0.8.3
passlib==1.7.4
pbkdf2==1.3
pbr==5.11.1
pecan==1.4.2
peewee==3.16.2
pexpect==4.8.0
pgadmin4==7.4
pickleshare==0.7.5
Pillow==9.5.0
pkgconfig==1.5.5
platformdirs==3.5.1
pluggy==1.0.0
ply==3.11
pooch==1.7.0
portalocker==2.7.0
portend==3.1.0
pretrainedmodels==0.7.4
prettytable==3.6.0
progress==1.6
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.38
protobuf==4.21.12
psutil==5.9.5
psycopg==3.1.8
psycopg-binary==3.1.8
psycopg2==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
py==1.11.1.dev0+g447bac51.d20230407
py4j==0.10.9.7
pyaaf2==1.6.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pybind11==2.10.4
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.12.0
pycups==2.0.1
pycurl==7.45.2
pydantic==1.10.7
pyelftools==0.29
Pygments==2.15.1
PyGObject==3.44.1
PyJWT==2.6.0
pylint==2.17.4
PyNaCl==1.4.0
pyngrok==6.0.0
pynvml==11.5.0
pyOpenSSL==23.1.1
pyotp==2.8.0
pyparsing==2.4.7
pypng==0.0.21
pyproject_api==1.5.1
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-sip==12.12.1
pyrsistent==0.19.3
PySide2==5.15.9
PySide6==6.5.0
pysmbc==1.0.23
PySocks==1.7.1
pyspark==3.4.1
pytest==7.3.1
pytest-cov==4.0.0
python-dateutil==2.8.2
python-distutils-extra==2.39
python-dotenv==1.0.0
python-editor==1.0.4
python-engineio==4.4.1
python-gnupg==0.5.0
python-json-logger==2.0.7
python-opencv==1.0.0.14
python-socketio==5.8.0
python-socks==2.3.0
python-xlib==0.33
pytorch-lightning==2.0.4
pytz==2023.3
PyWavelets==1.4.1
pyxdg==0.28
PyYAML==6.0
pyzmq==25.1.0
QDarkStyle==3.1
qrcode==7.4.2
QtPy==2.3.1
qudida==0.0.4
regex==2023.6.3
reportlab==3.6.12
repoze.lru==0.7
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resolvelib==1.0.1
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
Routes==2.5.1
rpm==4.18.1
rsa==4.9
Rx==3.2.0
s3transfer==0.6.1
safetensors==0.3.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
SecretStorage==3.3.3
segmentation-models-pytorch==0.3.3
Send2Trash==1.8.2
shiboken2==5.15.9
shiboken6==6.5.0
shiboken6-generator==6.5.0
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
speaklater==1.3
speaklater3==1.4
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.17
sqlparse==0.4.3
sshtunnel==0.4.0
stack-data==0.6.2
starlette==0.27.0
supervision==0.11.1
sympy==1.11.1
systemd-python==235
TBB==0.2
tempora==5.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-addons==0.20.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.12.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.1
tensorflow-text==2.12.1
termcolor==2.3.0
terminado==0.17.1
testtools==2.6.0
texttable==1.6.7
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.9.2
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
torch==2.0.1+cu118
torch-tensorrt==1.4.0
torchaudio==2.0.2+cu118
torchmetrics==0.11.4
torchvision==0.15.2+cu118
torchviz==0.0.2
tornado==6.3.2
tox==4.5.1
tqdm==4.65.0
traitlets==5.9.0
triton==2.0.0
trove-classifiers==2023.5.16
typeguard==4.0.0
typing_extensions==4.5.0
tzdata==2023.3
ua-parser==0.16.1
udiskie==2.4.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.15
user-agents==2.2.0
uvicorn==0.13.1
validate-pyproject==0.12.2.post1.dev0+g2940279.d20230508
virtualenv==20.21.0
waitress==2.1.2
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.5.1
websockets==10.4
WebTest==3.0.0
Werkzeug==2.2.3
wget==3.2
widgetsnbextension==4.0.7
wrapt==1.14.1
WTForms==3.0.1
xmlsec==1.3.13
yarl==1.9.2
youtube-dl==2021.12.17
zc.lockfile==3.0.post1
zipp==3.15.0
